*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ancho{
    max-width: 1200px;
    margin: auto;
}


/* #contenedor-first-title{
    display: flex;
    justify-content: center;
} */

header{
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-top: 40px;
    color: #FD3862;
    font-weight: normal;
}

.subtitle{
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    padding: 10px 0 10px 0;
}

#line{
    border-bottom: 1.70px #FD3862 solid;
    width: 40px;
    display: flex;
    margin: auto;
}

.galeria{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.galeria1{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galeria2{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galeria3{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galeria article figure img{
    height: 380px;
    position: relative;
}

.img-peque figure img{
    width: 100%;
}

.img-peque{
    position: relative;
    overflow: hidden;
}

.img-grande{
    position: relative;
    overflow: hidden;
}

.img-grande figure img{
    width: 100%;
}

.info{
    background-color: rgba(255, 255, 255, .95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 1.5%;
    width: 97%;
    height: 97%;
    transition: all .5s;
    font-family: 'Red Hat Text', sans-serif;
}

.info-grande{
    background-color: rgba(255, 255, 255, .95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 1%;
    width: 98%;
    height: 96.5%;
    transition: all .5s;
    font-family: 'Red Hat Text', sans-serif;
}

.img-peque:hover .info{
    top: 1%;
}

.info h4 {
    color: black;
    font-size: 20px;
}

.info p{
    margin-top: 8px;
}

.info div {
    margin-top: 8px;
    width: 35px;
    height: 35px;
    background-color: #EF4159;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info div i {
    color: white;
}

.info-grande div i {
    color: white;
}

.info-grande h4 {
    color: black;
    font-size: 20px;
}

.info-grande p{
    margin-top: 8px;
}

.info-grande div {
    margin-top: 8px;
    width: 35px;
    height: 35px;
    background-color: #EF4159;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-grande div i {
    color: white;
}


.img-grande:hover .info-grande{
    top: 1%;
}

.news{
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
}

.raleway{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}